<suite name="Suite" parallel="tests">
  <test name="Test">
  <parameter name="browser"value="chrome"/>
  <parameter name="ip"value="192.168.0.104"/>
    <classes>
      <class name="script.ValidLogin"/>
      <class name="script.CheckProductVersion"/>
      <class name="script.InvalidLogin"/>
    </classes>
  </test>
</suite> 
